// TNL 4.6.2
// Bootswatch

// Buttons =====================================================================

.btn {
  &-secondary {
    background-color: $white;
    border-color: #ccc;
    color: $gray-900;

    &:hover {
      background-color: $gray-300;
      border-color: $gray-500;
      color: $gray-900;
    }

    &.disabled {
      background-color: $white;
      border-color: lighten(#ccc, 5%);
      color: lighten($gray-900, 5%);
    }
  }

  &-light {
    &:hover {
      background-color: $gray-600;
    }
  }
}

// Tables ======================================================================

.table {
  &-dark {
    &,
    > th,
    > td {
      background-color: $gray-700;
    }
  }

  &-hover {
    .table-dark:hover {
      &,
      > th,
      > td {
        color: $white;
        background-color: $gray-800;
      }
    }
  }
}

// Navs ========================================================================

.nav-tabs {
  .nav-link,
  .nav-link.active, {
    border-width: 0 0 1px;
  }

  .nav-link:hover,
  .nav-link.active,
  .nav-link.active:hover,
  .nav-link.active:focus {
    border-bottom: 1px solid $primary;
  }

  .nav-item + .nav-item {
    margin-left: 0;
  }
}

// Progress bars ===============================================================

.progress {
  height: 0.8rem;
  margin-bottom: 0.8rem;
}

// Containers ==================================================================

.list-group {
  &-item {
    &.active {
      font-weight: 700;
    }
  }
}

// Reset margins for list items that are set in theme.css

li {
  &.breadcrumb-item,
  &.list-group-item,
  &.nav-item,
  &.page-item {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
