// TNL 4.6.2
// Bootswatch

// Original Bootstrap variables:
// https://github.com/twbs/bootstrap/blob/v4.6.2/scss/_variables.scss

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #ddd !default;
$gray-300: #ccc !default;
$gray-400: #bbb !default;
$gray-500: #adb5bd !default;
$gray-600: #777 !default;
$gray-700: #444 !default;
$gray-800: #373a3c !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #4169e1 !default;
$indigo:  #8a2be2 !default;
$purple:  #880088 !default;
$pink:    #cc00cc !default;
$red:     #cc0000 !default;
$orange:  #c87800 !default;
$yellow:  #cccc00 !default;
$green:   #00cc00 !default;
$teal:    #00bcbc !default;
$cyan:    #029acf !default;

$primary:       $cyan !default;
//$secondary:     mix($primary, $gray-300) !default;
$secondary:     $gray-400 !default;
$success:       $green !default;
$info:          $blue !default;
$warning:       $orange !default;
$danger:        $red !default;
$light:         $gray-200 !default;
$dark:          $gray-900 !default;

// Dropdowns

$dropdown-link-hover-color:         $white !default;
$dropdown-link-hover-bg:            $primary !default;

// Breadcrumbs

$breadcrumb-bg:                     $white !default;
