#tnl-menubar {
    background-image: url(/files/lbm/tnl-lbm.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 23rem;
}

#tnl-menubar > nav.navbar {
    background-color: rgba(55, 55, 162, 0.5);
    border-bottom: 1px solid rgba(255,255,255,.1);
    padding: 0;
}

/* logo containing the project title in menubar */
#logo {
    width: 200px;
    height: 74px;
    vertical-align: middle;
}

/* links in the menubar (except the logo) */
nav.navbar li:hover {
    box-shadow: inset 0px -3px 0px 0px rgba(159, 224, 207, 1) !important;
}
#tnl-menubar .nav-link {
    color: #fff;
    letter-spacing: 0.5px;
}

/* footer */
footer {
    background-color: #192229;
    color: #a9afb1;
    padding-bottom: 1rem;
}
footer a {
    color: #a9afb1;
}
footer a:hover {
    color: #ffffff;
}

/* social icons */
.simple-social-icons svg[class^="social-"],
.simple-social-icons svg[class*=" social-"] {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
.simple-social-icons a {
    font-size: 1.1rem;
}

/* main element containing the content */
main {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* main header */
main > article > header:not(:empty) {
    margin-bottom: 2rem;
}

/* margins for block elements in the content */
main p:not(:first-child),
main ul:not(:first-child),
main ol:not(:first-child),
main li:not(:first-child),
main dl:not(:first-child),
main table:not(:first-child),
main pre {
    margin-top: 0.5em;
}

main p:not(:last-child),
main ul:not(:last-child),
main ol:not(:last-child),
main li:not(:last-child),
main dl:not(:last-child),
main table:not(:last-child),
main pre {
    margin-bottom: 0.5em;
}

main h1:not(:first-child),
main h2:not(:first-child),
main h3:not(:first-child),
main h4:not(:first-child),
main h5:not(:first-child),
main h6:not(:first-child) {
    margin-top: 1em;
}

/* inline code style */
main :not(pre)>code {
    font-family: monospace;
    background-color: #f8f8f8;
    border: 1px solid #eaecf0;
    border-radius: 2px;
    padding: 1px 4px;
}

/* block code style */
main pre {
    font-family: monospace;
    background-color: #f8f8f8;
    border: 1px solid lightgray;
    padding: 0.5em;
    line-height: normal;
    overflow-x: auto;
}

/* fix margins of code blocks */
main div.code {
    margin: 0;
}
main pre.code {
    margin-left: 0;
    margin-right: 0;
}
